*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 5%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    display: grid;
    gap: 2rem;
    justify-content: center;
}
#name{
    font-size: larger;
    font-weight: 800;
}
.div div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div{
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
}
main{
    width: 100%;
    height: 100%;
}
.first {
    display:flex;
    flex-direction: column;
}
.maindiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    text-align: center;
}
.btn{
    display:flex;
    gap: 50px;
    
}
.btn button {
    background-color: darkorange;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: larger;

}
.score{
    font-size: large;

}
.form{
    display: flex;
    gap: 10px;
}
.form_btn{
    background-color: darkorange;
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
}
.input{
    all: unset;
    padding: 10px;
    border: 1px solid chocolate;
    text-align: start;
    font-weight: 700;
    font-size: larger;    
}

#error1{
    color: red;
    font-weight: 800;
    font-size: larger;
    display: none;
}
@media  screen and (max-width: 600px) {
    body{
        margin-top: 5%;
    }    
    #error1{
            text-align: center;
        }
    .form{
        display: flex;
        flex-direction: column;
    }
    .div{
        width: 87%;
        display: grid;
        height: 30%;
        grid-template-rows: 2fr 1fr 1fr 2fr;
    }
    .first{
        grid-area: ".first";
    }
    .btn{
        width: 100%;
    }
    
    .contri{
        grid-area: ".contri";
    }
    .score{
        font-size: large;
        grid-area: ".score";

    }
    
     
}